#
# Ignore backup files and directories
*~
## Below were valid only on the OBF server:
##
## Ignore all directories in the document root
## (because of hiding OBF server specific settings of MediaWiki etc.)
#/*/
## Whitelist of directories in the document root
#!/rdoc/
#!/images/
#!/archive/
#!/contrib/
